
ul.tab-nav {
    list-style: none;
    border-bottom: 1px solid #bbb;
    padding-left: 5px;
}

ul.tab-nav li {
    display: inline;
}

ul.tab-nav li a.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
    border-bottom: none;
}

ul.tab-nav li a.active.button {
    border-bottom: 1px solid #fff;
}

.tab-content {
    margin: 10px;
    background-color: #fff;
}

.tab-content .tab-pane.left.inactive {
    display: none;
    animation: moveToLeft 0.4s ease both;
}

.tab-content .tab-pane.left.active {
    display: block;
    transform: translateX(50%);
    animation: moveFromLeft 0.4s ease both;
}

.tab-content .tab-pane.bottom.inactive {
    display: none;
    animation: moveToBottom 0.4s ease both;
}

.tab-content .tab-pane.bottom.active {
    display: block;
    transform: translateY(50%);
    animation: moveFromBottom 0.4s ease both;
}


@keyframes moveFromLeft {
	from { }
	to {transform: translateX(0); }
}

@keyframes moveToLeft {
	from {transform: translateX(-50%); }
    to { }
}

@keyframes moveFromBottom {
    from { }
    to {transform: translateY(0); }
}

@keyframes moveToBottom {
	from {transform: translateY(-50%); }
    to { }
}